<%- include('./partials/head') %>

<div class="container">
<div class="card">
  <div class="card-inner">
    <div class="front">
      <h2><%= data.name %> <%= data.surname %></h2>
      <p>frontend design & development</p>
      
    </div>
    <div class="back">
      <h1> <%= data.name %> <span> <%= data.surname %> </span></h1>
      <p> <%= data.bio %> </p>
      <img src="assets/memoji2.2024.jpg">
      <div class="row">


        <div class="col">
          <h2> <%= data.custom.age %> </h2>

        <div class="col">
          <h2> <%= data.custom.school %> </h2>
          <p>Hogeschool van Amsterdam</p>

        <div class="col">
           <h2> <%= data.custom.hobby %> </h2>

        </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>

<%- include('./partials/foot') %>

 